# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class
.idea
*target
# Mobile Tools for Java (J2ME)
.mtj.tmp/
*.iml
# Package Files #
*.jar
.gradle
gradle
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


